.header {
    background: var(--white);
    position: relative;
    padding: 4rem 0;
    z-index: 100;
    @media screen and (max-width: 768px) {
        padding: 1.5rem 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        @media screen and (max-width: 768px) {
            gap: 1.5rem;
        }
    }
    &__logo {
        display: flex;
        @media screen and (max-width: 768px) {
            width: 7rem;
            height: auto;
            & img {
                width: auto;
                height: auto;
            }
        }
    }
    &__menu {
        display: flex;
        gap: 3rem;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        gap: 3rem;
        @media screen and (max-width: 768px) {
            gap: 1.5rem;
        }
    }
    &.open-menu {
        & .header__burger {
            & span {
                &:last-child {
                    display: none;
                }
                &:first-child {
                    transform: rotate(45deg);
                    top: 0.8rem;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
        & .header__box {
            opacity: 1;
            visibility: visible;
        }
    }

    &__box {
        @media screen and (max-width: 768px) {
            position: fixed;
            top: 6rem;
            left: 0;
            width: 100%;
            background: var(--white);
            z-index: 100;
            height: calc(100vh - 6rem);
            padding: 2rem;
            transition: 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }
    }
    &__burger {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
        & span {
            display: block;
            width: 3rem;
            height: 0.2rem;
            position: relative;
            background: var(--black);
            margin: 0 0 0.6rem 0;
        }
    }
}
