.newsLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
    @media screen and (max-width: 1260px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2.2rem;
    }
    @media screen and (max-width: 580px) {
        grid-template-columns: 4fr;
        gap: 2.5rem;
    }
}
