body {
    font-size: 1.6rem;
    line-height: 140%;
    @media screen and (max-width: 1024px) {
        font-size: 1.4rem;
    }
}
h1,
.h1 {
    font-size: 5rem;
    line-height: 140%;
    @media screen and (max-width: 1440px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 1260px) {
        font-size: 3.6rem;
    }
    @media screen and (max-width: 1024px) {
        font-size: 3rem;
    }
}
h2,
.h2 {
    font-size: 4rem;
    line-height: 140%;
    @media screen and (max-width: 1440px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 1260px) {
        font-size: 3.2rem;
    }
    @media screen and (max-width: 1024px) {
        font-size: 2.6rem;
    }
}
h3,
.h3 {
    font-size: 1.9rem;
    line-height: 140%;
    @media screen and (max-width: 1440px) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: 1260px) {
        font-size: 1.7rem;
    }
    @media screen and (max-width: 1024px) {
        font-size: 1.6rem;
    }
}
.small-text {
    font-size: 1.3rem;
    line-height: 140%;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
        font-size: 1.1rem;
    }
}
.medium-text {
    font-size: 1.4rem;
    line-height: 140%;
    @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
    }
}
main {
    & p {
        margin: 0 0 1.5rem 0;
    }
    & li {
        margin: 0 0 1.5rem 0;
    }
    & ul:not([class]) {
        padding: 0 0 0 2.4rem;
        margin: 1.5rem 0;
        & li {
            list-style-type: disc;
        }
    }
}
